
/***********************Global Styling***********************/
 #main
{
  width: 1200px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
}

/***********************Headings***********************/

h1{

   font-style: italic;
   font-weight: bold;
   font-size: 2.5em;
   border-width: 4px;
   border-radius: 25px;
   font-family: Poiret One,Times New Roman,Georgia, serif;
   text-shadow: 2px 2px #000000;
   background-color: #9b9996;
   color: #bc0411;
   text-align: center;
   
}

h3{
   font-style: italic;
   font-weight: bold;
   font-size: 1.8em;
   border: 2px solid;
   border-radius: 25px;
   border-color:#000000;
   font-family: Poiret One,Times New Roman,Georgia, serif;
   background-color: #e9e8e9;   
   color: #f99903;
   width: 8em;
   text-align: center;

}

/***********************Content***********************/

ul{
   border-width: 4px;
   border-radius: 25px;
   background-color: #fdc54c;
   width: 10em;
   box-shadow: 15px 15px 10px #888888;
   list-style:outside circle;		
  }	
  
  li{
   Font-weight: bold;
   font-size: 1.125em;
}
  
  .container {
    font-family: Georgia,Times New Roman, serif;
    line-height:120%;
    background-color: #fef6e0;
    padding: 2px 20px;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    line-height:110%;
}

#EH{
background: url("../images/car_icon.png") no-repeat center;
height:60px;
}

#L{
background url("../images/engine_icon.png") no-repeat center;
height: 60px;
}

#S{
background-image: url("../images/chair_icon.png");
background-repeat: no-repeat;
height: 60px;
background-position: 50% 50%;
}
/***********************Link Styling***********************/
  
#ig{
text-align: center;
   }

a:link    {
    color: #fdfdfd;
}

a:visited {
   color:#1df500;	
   }
   
a:hover {
   color:#01d1ca;
   }
   
a:active {
   color:#0d6302;
   }

img { 
  border: 3px #ffffff; 
} 
img:hover { 
  border: 3px #010100; 
} 

    .image-link{ 
	border: 2px solid;
	width:240px;
	height:155px;
	display: block;
}
	 
#images{
    color:#fcb52b;
	border-radius: 25px;
	float:right;
	margin:.4%;
	width: 31%;
	background: url("../images/steel.gif") repeat;	
}


.clear{
clear: right;
}

#corecontent{
	border-radius: 25px;
	float:left;
	margin:.4%;
	width: 66%;
}	


.clear{
clear: left;
}

