
h1{
   background-color: #9b9996;
   font-family: Serif;
   font-size: 30px;
   font-style: italic;
   color: #bc0411;
   text-align: center;
}

h3{
   font-family: Times New Roman;
   font-size: 24px;
   font-weight: medium
   font-style: italic;
   color: #f99903;
   text-align: left;
}
a {
	border: 2px solid deeppink;
	width:240
	height:150
	dislay: block;
}
	 