
h1{
   background-color: #9b9996;
   font-family: Serif;
   font-size: 28px;
   font-style: italic;
   color: #FF0000;
   text-align: center;
}

a {
	border: 2px solid deeppink;
	width:240
	height:150
	dislay: block;
}
	 